h1 {
	color : red;
}

body {
	background-image : url("https://basteque.github.io/image/background.png");
	background-repeat : no-repeat;
	background-attachment : scroll;
	background-size: cover;
	color:white;
}

html {
	font-family: "Gill Sans", sans-serif;
}